[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack.vim"]
  path = bundle/ack.vim
  url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/actionscript.vim"]
	path = bundle/actionscript.vim
	url = https://github.com/vim-scripts/actionscript.vim.git
